<%= title "Minhas Lições #{@curse.title}" %>


<div class="main-content-container container-fluid px-4">
  
  
  <!-- Page Header -->
  <div class="clearfix page-header row no-gutters py-4">
    <div class="float-left col-12 col-sm-8 text-center text-sm-left mb-0">
      
      
      <span class="text-uppercase page-subtitle">Overview</span>
      <h3 class="page-title"><%= @curse.title %></h3>
      
    </div>
    
    <div class="col-12 col-sm-4 text-center text-sm-right">
      <%= link_to fa_icon('plus-circle', text: 'Add Lição'), new_content_path, class: 'mb-2 btn btn-primary mr-2' %>
    </div>
    
  </div>
  <!-- End Page Header -->
  <!-- Default Light Table -->
  <div class="row">
    <div class="col">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">Total de lições: <%= @contents.count %></h6>
        </div>
        
        <!-- Page Header -->
        
        <div class="card-body">
          <table class="table mb-0" id="datatable" >
            <thead class="bg-light">
              <tr>
                <th scope="col" class="border-0">#</th>
                <th scope="col" class="border-0 text-left">Titulo</th>
                <th scope="col" class="border-0">Status:</th>
                <th scope="col" class="border-0">Agendado:</th>
                <th scope="col" class="border-0">Assistido</th>
                
              </tr>
            </thead>
            <tbody>
              <% @contents.each do |licao| %>
              <tr>
                <td><%= licao.id %></td>
                <td class='text-left' ><%= licao.title %></td>
                <td>
                  <%= 
              
                 licao.publish? ? '<span class="badge badge-pill badge-success">Publicado</span>'.html_safe :
                  '<span class="badge badge-pill badge-secondary">Rascunho</span>'.html_safe
             
                 
                 %>
                </td>
              
                <td> <%= licao.publish_on.nil? ? "" : licao.publish_on.strftime("%d/%m/%Y às %r") %></td>
                <td><%= link_to fa_icon('file-alt', text: 'Editar'), edit_content_path(licao), class: 'btn btn-sm btn-info mb-0' %>
                  <%= link_to fa_icon('trash-alt', text: nil), content_path(licao), data: {confirm: "Deseja deletar: #{licao.title}"},
                  class: 'btn btn-sm btn-danger mb-0', method: :delete,  remote: true %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Default Light Table -->
  <!-- Default Dark Table -->
  
  
  <!-- End Default Dark Table -->
</div>
