<%= title "Minhas Lições" %>

<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Lições</h2>
  </div>
</header>

<%= render "layouts/brandcrumb" %>
<p></p>
<div class="container-fluid">


  <div class="card">

    <h4 class="card-header d-flex align-items-center">Lições</h4>
    <div class="card-body">

      <p><%= link_to fa_icon('plus', text: 'Criar Novo'), new_content_path, class: 'float-right btn btn-primary' %>

        <div class="table-responsive">
          <p></p>
          <table id="datatable" class="display table" cellspacing="0" >


            <thead>

              <tr>
                <th>#</th>
                <th>Curso:</th>

                <th>Titulo:</th>
                <th cellspacing='2' >Conteúdo:</th>
                <th ></th>

              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Curso</th>

                <th>Titulo</th>
                <th>Conteúdo</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>

              <% @contents.each do |content| %>
              <tr>
                <td><%#Content= content.curse.picture %></td>
                <td>

                  <%= image_tag(content.curse.picture.thumb) %>

                </td>


                <td><%= content.title %></td>
                <td><%= truncate(content.body, length:80 ,omission: '... (mais)') %></td>

                <td>


                  <%= link_to fa_icon('eye', text:''), content, class: 'btn btn-outline-primary btn-sm' %>
                  <%= link_to fa_icon('pencil', text:'Editar'), edit_content_path(content), class: 'btn btn-outline-info btn-sm' %>
                  <%= link_to fa_icon('trash', text: ''), content ,class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%= link_to fa_icon('copy'), content_clone_path(content), class:"btn btn-sm btn-outline-info" %>

                </td>

              </td>


            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
