<%= title "Minhas Lições" %>

<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Lições</h2>
  </div>
</header>

<%= render "layouts/brandcrumb" %>
<p></p>
<div class="container-fluid">

    <div class="card">

      <h4 class="card-header d-flex align-items-center">Lições</h4>
      <div class="card-body">

        <p>    <%= link_to fa_icon('plus', text: 'Criar Novo'), new_content_path, class: 'float-right btn btn-primary' %>

        <div class="table-responsive">
<p></p>
          <table class="table center-aligned-table">


            <thead>

              <tr>
                <th>Titulo</th>
                <th>Conteúdo</th>
                <th>Doc</th>
                <th colspan="5"></th>
              </tr>
            </thead>
            <tbody>
              <% @contents.each do |content| %>
              <tr>
                <td><%= content.title %></td>
                <td><%= truncate(content.body, length:80 ,omission: '... (mais)') %></td>
                <td><%= content.doc %></td>
                <td>
                  <%= link_to fa_icon('eye', text:'Visualizar'), content, class: 'btn btn-outline-primary btn-sm' %>
                </td>
                <td>
                  <%= link_to fa_icon('pencil', text:'Editar'), edit_content_path(content), class: 'btn btn-outline-info btn-sm' %>
                </td>
                <td>
               <%= link_to fa_icon('trash', text: 'Apagar'), content,class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          </div>
      </div>
    </div>
  </div>
</div>
