<%= title "Lição - #{ @content.title }" %>


 <div class="main-content-container container-fluid px-4 bg-dark">



            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-6 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Aula #<%= @content.id %></span>
                <h3 class="page-title text-light"><%= @content.title %></h3>
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Default Light Table -->
            <div class="row">
              <div class="col">
                <div class="card card-small mb-4 ">

<% if @content.doc.split(/(vimeo\.com)/)[1] == "vimeo.com" %>
       
      <div class="plyr__video-embed" id="player">
    <iframe
        src="https://player.vimeo.com/video/<%= @content.doc.split(/(vimeo\.com\/(\w+))/)[2].to_s  %>?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
        allowfullscreen
        allowtransparency
        allow="autoplay"
    ></iframe>
</div>
            
     
     <% else %>

 <div class="plyr__video-embed" id="player">
    <iframe
        src="https://www.youtube.com/embed/<%=  @content.doc.split(/(youtu\.be\/|youtube\.com\/(watch\?(.*&)?v=|(embed|v)\/))([^\?&"'>]+)|vimeo\.com\/(\w+)/)[4]    %>?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
        allowfullscreen
        allowtransparency
        allow="autoplay"
    ></iframe>
</div>  

<% end %>
          
 

              
                <%# <img class="card-img-top" src="<%= url_for(@content.curse.picture) %>
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Atualizado em: <%= @content.updated_at.strftime("%d/%m/%Y") %></h6>
                  </div>

                             <!-- Page Header -->
 
                  <div class="card-body p-0 pb-3 ">
                    <table class="table mb-0">
                    <%= @content.body %>
                      </tbody>
                    </table>
                  </div>
                </div>
                 <div class="btn-group" role="group" aria-label="Exemplo básico">
 
  <%= link_to fa_icon('chevron-left', text: 'Voltar'), curses_content_path(@content.curse), class: 'btn btn-secondary' %>
  <%= link_to fa_icon('check', text: 'Marcar como Concluída'), curses_content_path(@content.curse), class: 'btn btn-success' %>
 
</div>
              </div>
              
            </div>
            <!-- End Default Light Table -->
            <!-- Default Dark Table -->

          
            <!-- End Default Dark Table -->
          </div>
