
<%= title "Cadastrar Usuário" %>

<!-- End Page Header -->
<div class="col-lg-9 col-md-12">
  <div class="card card-small mb-3">
  
 
    <div class="card-body">
      <h4 class="card-title">Editar Meu Perfil</h4>


      
 

  <div class="box box-primary">
       <% if resource.avatar %>
     
      <%= image_tag(resource.avatar.variant(resize_to_limit: [100, 100]), class: 'rounded-circle') %>
    <% end %>
    <!-- /.box-header -->
    <!-- form start -->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), role:"form", html: { method: :put }) do |f| %>

    <div class="box-body">


    <div class="form-group row">
      <label class="col-sm-3 form-control-label"><%= f.label :curse %> <br>
      </label>
      <div class="col-sm-9">

   <%= f.hidden_field :curse_ids, value: params[:curses] %>

      </div>
    </div>

    <div class="form-group">
 
 
      <div class="row">
            <div class="col">
              <%= f.label :avatar, "Foto" %>
              <%= f.file_field :avatar %>
              </div>
      </div>

      <div class="row">

  

        <div class="col">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Digite seu nome' %>
        </div>
        <div class="col">
          <%= f.label :lastname %>
          <%= f.text_field :lastname, class: 'form-control', placeholder: 'Digite seu email' %>
        </div>
      </div>



          </div>
          <p></p>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control', required: "email" %>
          </div>
          <div class="form-group">
            <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', default: "leave blank if you don't want to change it") %>)</i>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control'  %>
          </div>
          <div class="form-group">
            <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', default: 'we need your current password to confirm your changes') %>)</i>
            <%= f.password_field :current_password, class: 'form-control' %>
          </div>


        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <%= f.submit t('.update', default: 'Atualizar'), class: 'btn btn-primary' %>
          <span class="d-flex justify-content-end">
            
            <%= t('.unhappy', default: 'Deseja deletar sua conta') %>? 
            
            <%= link_to t('.cancel_my_account', default: 'Apagar Minha Conta'),
            registration_path(resource_name), data: { confirm: t('.are_you_sure', default: "Você realmente deseja deletar sua conta?") },
            method: :delete %>.
          </span>


        </div>
        <% end %>
      
      
  </div>
 </div>


  </div>
  </div>
 
 
 