
<%= bootstrap_devise_error_messages! %>

<h2> <%= t('.sign_up', default: 'Sign up') %>

</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
html: { role: 'form' }) do |f| %>

<div class="form-group">

<%

hashids = Hashids.new("curse_url", 8)
numbers = hashids.decode(params[:curses])

 %>

 <%= f.hidden_field :curse_ids, value:numbers %>

</div>

<div class="form-group"> <%= f.text_field :name, class: 'input-material',  required:"" %> <%=
f.label :name, class: 'label-material' %> </div>

<div class="form-group">
<%= f.text_field :lastname, class: 'input-material' %>
<%=f.label :lastname, class: 'label-material' %> </div>

<div class="form-group">

  <%= f.email_field :email, autofocus: true, class: 'input-material', required: "email"  %> <%=
  f.label :email, class: 'label-material' %> </div> <div class="form-group">

  <%= f.password_field :password, class: 'input-material' %>
  <%= f.label :password, class: 'label-material' %>
</div> <div class="form-group">

  <%= f.password_field :password_confirmation, class: 'input-material', required:""  %>
  <%=  f.label :password_confirmation, class: 'label-material', required:""  %> </div>

  <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary' %> <%
end %> </div>
