Olá <%= @user.name %>, Seja bem-vindo!

<p></p>

Esse é um email de boas vindas a nossa plataforma de curso online ProEdu, estamos feliz por você dar mais um passo em seu conhecimento. 

 <p></p>

Segue abaixo os dados de login da sua conta:

 <p></p>

<b>Usuário:</b>  <%= @user.email %>

<b>Senha:</b> <%= @user.password %>

  <p></p>

Link de acesso: <%= new_user_session_url %>

  <p></p>

Em caso de dúvida, por favor entre em contato conosco! Desejamos muito boa sorte!
 <p></p>
 <p></p>

Copyright © <%= time.zone.now.strftime("%y") %> Todos os direitos reservados
