<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">   <%= user_avatar(current_user, 48) %>
        <div>
          <p class="app-sidebar__user-name"><%= full_name %></p>
          <p class="app-sidebar__user-designation"><%= welcome_time(Time.now.strftime("%H")) %>, <%= user_type %></p>
        </div>
      </div>
      <ul class="app-menu">
       <%=
       
       if current_user.admin == true 
         render("partials/sidebar/director") 
        elsif current_user.teacher == true 
        render("partials/sidebar/teacher")
        elsif current_user.student == true
        render("partials/sidebar/student")
       end
       %>
       
      </ul>
    </aside>