<%= title "Minhas Mensagens" %>


<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Suas Mensagens</h2>
  </div>
</header>
<%= render "layouts/brandcrumb" %>

<section class="tables">
  <div class="container-fluid">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-close">
          <!-- <div class="dropdown">
          <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
          <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow" style="display: none; position: absolute; transform: translate3d(15px, 26px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
        </div> -->
      </div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Minhas Mensagens</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">

          <thead>

            <tr class="text-primary">
              <th>ID</th>
              <th>Assunto</th>
              <th>Data / Hora</th>

              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <% @messager.each do |msg| %>


            <tr class="">

              <td><%= msg.id %></td>
              <td><%= msg.subject %></td>
              <td><label class="badge badge-secondary">
                <%= msg.created_at.strftime("%d-%m-%Y  às %H:%M:%S %p") %></label></td>

                <td><%= link_to fa_icon('commenting-o', text: 'Ler Mais'), msg %></td>
                <td><%= link_to fa_icon('trash', text: 'Remover'),  msg,
                data: { confirm: 'Deseja deletar essa mensagem?' }, method: :delete, class: "btn btn-danger btn-sm"  %>
              </td>
            </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


</div>
</div>
</section>
