<%= title('Editar Estudante') %>

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">editar estudante</span>
      <h3 class="page-title">Editar Estudante</h3>

    </div>

  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card card-small mb-4 pt-3">
        <div class="card-header border-bottom text-center">
          <div class="mb-3 mx-auto">

            <%= image_tag(gravatar('showbiz@showbiz.mus.br', '110'), class: 'rounded-circle') %>

          </div>
          <h4 class="mb-0"><%= @users.name.titleize %> <%= @users.lastname.titleize %></h4>
          <br>
          <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2">
            Enviar Mensagem</button>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4">
            <div class="progress-wrapper">
              <strong class="text-muted d-block mb-2">Progressão</strong>
              <div class="progress progress-sm">
                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100" style="width: 74%;">
                  <span class="progress-value">74%</span>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item p-4">
            <strong class="text-muted d-block mb-2">Descrição</strong>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque, quidem, commodi soluta qui quae minima obcaecati quod dolorum sint alias, possimus illum assumenda eligendi cumque?</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">Detalhes da Conta</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-3">
            <div class="row">
              <div class="col">

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="feFirstName">Nome:</label>
                    <%= @users.name %>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="feLastName">Sobre nome:</label>
                    <%= @users.lastname %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="feEmailAddress">Email</label>
                    <%= mail_to @users.email, @users.email %>
                  </div>

                  <div class="form-group">
                    <label for="feInputAddress">Tipo:</label>
                    <%= @users.studant_role? ? "Estudante" : ''  %>
                  </div>


                </div>
              </div>
          </li>
        </ul>
            </div>

            <div class="card card-small mb-4">
              <div class="card-header border-bottom">
                <h6 class="m-0">Curso(s)</h6>
              </div>

              <div class="row">
                <div class="col">
                 <nav class="nav flex-column">

                        <% @users.curse.each do |user| %>
                        <li class="list-group-item p-3"><h4> <%= user.title  %> </h4></li>
                        <% end %>
                 </nav>
                </div>
               
             </div> 
            </div>

      </div>
    </div>
  </div>
