
<%= form_for(resource, as: resource_name, url: password_path(resource_name), 
html: { method: :post, class: "login-form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h4 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Esqueceu sua senha?</h4>
  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "digite seu e-mail" %>
  </div>

   <%= button_tag type: "submit", disable_with: "Enviando...", class: "btn btn-primary btn-block" do %>
    
    <i class="fa fa-sign-in fa-lg fa-fw"></i> Enviar instruções...
  
<% end %>
 <p></p>
<%- if controller_name != 'sessions' %>
 <p class="semibold-text mb-2">
  <%= link_to "Login", new_session_path(resource_name) %>
  <p/>
<% end %>
 
<% end %>
 
