<!-- Backend Users -->
<section class="projects no-padding-top">
  <div class="container-fluid">
    <div class="main-content-container container-fluid px-4">
      <!-- Page Header -->
      <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
          <span class="text-uppercase page-subtitle">Dashboard</span>
          <h3 class="page-title">Pro Edu</h3>
        </div>
      </div>
      <!-- End Page Header -->
      <!-- Small Stats Blocks -->
 <div class="row">
    <div class="col-lg col-md-3 col-sm-6 mb-4">
      <div class="stats-small stats-small--1 card card-small">
         <div class="card-header border-bottom ">
            <div class="mb-3 mx-auto">

               <% if current_user.avatar.attached? %>
                   <%= image_tag(current_user.avatar.variant(resize: "125x125!", gamma: '1.0'), class: 'user-avatar
                             float-left rounded-circle mr-2') %>
               <% else %>
   <%= image_tag(gravatar(current_user.email,'125'), class: 'user-avatar rounded-circle float-left mr-2') %>
                <% end %>

                </div>
              <h4 class="mb-0"> <%= current_user.name %>, <%= saudacao %> </h4>
             <div class="status-profile"></div> 
              0 Certificado <span class="palper"></span>
              0 Gamification <span class="palper"></span>
              0 Concluído 

              <br>
            </div>


          </div>
        </div>


        <div class="col-lg col-md-6 col-sm-6 mb-4">
          <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
              <div class="d-flex flex-column m-auto">
                <div class="stats-small__data text-center">
                  <span class="stats-small__label text-uppercase">Meus Cursos</span>
                  <h6 class="stats-small__value count my-3"> <%= current_user.curse.count %> </h6>
                </div>

              </div>
              <canvas height="92" class="blog-overview-stats-small-1 chartjs-render-monitor" style="display: block; width: 231px; height: 92px;" width="231"></canvas>
            </div>
          </div>
        </div>
 
      </div>
      <!-- End Small Stats Blocks -->
      <div class="row">
        <div class="page-header row no-gutters py-4">
          <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Meus</span>
            <h3 class="page-title">Curso(s)</h3>
          </div>
        </div>


        <div class="row">

          <% @curses.each do |curse|  %>    

            <div class="col-lg-6 col-sm-12 mb-4">
              <div class="card card-small card-post card-post--aside card-post--1">
                <div class="card-post__image" style="background-image: url(<%= url_for(curse.picture) %>);">
                  <a href="#" class="card-post__category badge badge-pill badge-info"> <%= curse.category.name %> </a>
                  <div class="card-post__author d-flex">
                    <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                style="background-image: url(<%= url_for(curse.picture) %>);"> <%= curse.title %> </a>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <a class="text-fiord-blue" href="#"> <%= curse.title %> </a>
                  </h5>
                  <p class="card-text d-inline-block mb-3"> <%= truncate(curse.descricao, length: 80, omission: '... mais')  %> </p> <%= link_to fa_icon('book', text: 'Acessar Aulas'), curse_path(curse), class: 'btn btn-info btn-block'  %>
                  
                    
                </div>
              </div>
            </div>
          <% end %> 
        </div>

      </div>
</section>
