<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>


<h3 class="display-4"> <%= t('.sign_in', default: 'Sign in') %></h3>
<p class="text-muted mb-4">Login para plataforma ProEdu Online.</p>
<form>
    <div class="form-group mb-3">

        <%= f.email_field :email, autofocus: true, class: 'form-control rounded-pill border-0 shadow-sm px-4', placeholder: 'Digite seu usuário' %>
 
  
    </div>
    <div class="form-group mb-3">

        <%= f.password_field :password, autocomplete: 'off', class: 'form-control rounded-pill border-0 shadow-sm px-4 text-primary' %>
 
    </div>
    <div class="custom-control custom-checkbox mb-3">
        
        <% if devise_mapping.rememberable? %>
        <p>
          <div class="check-material">
            <%= f.label :remember_me do %>
            <%= f.check_box :remember_me, class:'custom-control-input' %> <%= t('.remember_me', default: 'Remember me') %>
            <% end %>
        
          </div>
        </p>
        <% end %>
      
        <%= f.hidden_field :curse_ids, value: params[:curses] %>




  
    </div>

    <%= f.submit  t('.sign_in', default: 'Efetuar Login'), class: 'btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm' %>
 
    <div class="text-center d-flex justify-content-between mt-4"><p>
        <%= render 'devise/shared/links' %>
              </div>
</form>


 
 
 

<% end %>

 


