 

<%= form_for(resource, as: resource_name, html: {class: "login-form"}, url: session_path(resource_name)) do |f| %>
   
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Login</h3>
          <div class="form-group">
            <%= f.label :email, "Usuário / E-mail", class: "control-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Digite seu usuário"  %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Senha", class: "control-label" %>
            <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "Digite sua senha"  %>
          </div>
          <div class="form-group">
            <div class="utility">
              <div class="animated-checkbox">
  <% if devise_mapping.rememberable? %>
                <label>
                <%= f.check_box :remember_me %>
                   <span class="label-text">Lembrar-me</span>
                </label>
  <% end %>
              </div>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <p class="semibold-text mb-2">
  <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), data: { toggle: "flip"} %> 
              </p>
<% end %>

            </div>
          </div>
          <div class="form-group btn-container">
          <%= button_tag type: "submit", disable_with: 'Logando...', class: "btn btn-primary btn-block" do %>
            <i class="fa fa-sign-in fa-lg fa-fw"></i> Logar
         <% end %>
          </div>
        </form>
    
      </div>
      <!-- // end box // -->
    </section>
 
<% end %>