<p><h2><%= t('.sign_in', default: 'Sign in') %></h2>
</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>



<div class="form-group">
  <%= f.email_field :email, autofocus: true, class: 'input-material' %>
  <%= f.label :email, class: 'label-material', for: 'login-email' %>
</div>
<div class="form-group">
  <%= f.password_field :password, autocomplete: 'off', class: 'input-material' %>

  <%= f.label :password, class: 'label-material', for: 'login-password' %>
</div>
<% if devise_mapping.rememberable? %>
<p>
  <div class="check-material">
    <%= f.label :remember_me do %>
    <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
    <% end %>

  </div>
</p>
<% end %>

<%= f.submit  t('.sign_in', default: 'Efetuar Login'), class: 'btn btn-primary' %>
<% end %>

<p></p>

  <%= render 'devise/shared/links' %>
