 
<!-- End Page Header -->
 
  <div class="col-lg-9 col-md-12">
    <!-- Add New Post Form -->
    <div class="card card-small mb-3">
      <div class="card-body">
        
        
        <%= form_for @curse  do |f| %>
      
     
        <div class="form-group">
          <label class="form-control-label"><%= f.label 'Digite o nome do curso:' %></label>
          <%= f.text_field :title, placeholder: 'Digite o nome de seu curso', class: 'form-control form-control-lg mb-3' %>
        </div>
        <div class="form-group">
          <label class="form-control-label"><%= f.label 'Categoria:' %></label>
          <%= select(:curse, :category_id,
          Category.all.collect {|p| [ p.name, p.id ] }, {}, class: 'form-control')  %>
          
        </div>
        <div class="form-group">
          <label class="form-control-label"><%= f.label 'Descrição:' %></label>
          <%= f.text_area :descricao, class: 'form-control' %>
        </div>
        <div class="form-group">
 
            <label class="form-control-label"><%= f.label :picture, 'Imagem:' %></label>
            <%= f.file_field :picture, class: 'form-control' %>
          </p>
          
        </div>
                
        <div class="form-group">
          <%= button_tag fa_icon('file-alt', text: 'Salvar'), class: 'btn btn-primary', data: {disable_with: "Salvando..."} %>
        </div>
        <% end %>
        
      </div>
    </div>
      </div>
     </div>