<%= content_for(:title, "Meus cursos") %>
<header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom"><%= content_for(:title) %></h2>
            </div>
          </header>
<%= render "layouts/brandcrumb" %>
<p></p>
<div class="container">

  <div class="row">


<% @curses.each do |curses| %>

    <div class="col">
      <div class="card" style="width: 18rem;">
         <%= image_tag(curses.picture) %>

       <div class="card-body">
         <h5 class="card-title"> <%= fa_icon("leanpub") %> <%= curses.title %></h5>
         <p class="card-text"><%= curses.descricao %></p>
      
         <%= link_to "Assistir as Aulas", curse_home_path(curses), class: 'btn btn-outline-secondary btn-block' %>
       </div>
     </div>

    </div>

 <% end %>



  </div>






 </div>
