
<%= content_for(:title, "Aprenda mais com #{ @curse.title } ") %>

<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom"><%= @curse.title %></h2>
  </div>
</header>

<%= render "layouts/brandcrumb" %>



<p></p>
<div class="container-fluid">
  <div style="background: url(<%= @curse.picture_url %>) no-repeat center center; background-size: cover;z-index:1; opacity: 0.5;
    height: 250px;  top:0;
    left:0;  overflow: hidden; " class="jumbotron">

  </div>

  <div class="articles card">

    <div class="card-header d-flex align-items-center">
      <h2 class="h3">Lições   </h2>
      <div class="badge badge-rounded bg-blue"> <%= @contents.size %> total       </div>
    </div>
    <div class="card-body no-padding">

<% @contents.each do |licao| %>
      <div class="item d-flex align-items-center">
        <div class="image"> <%= fa_icon("play-circle 3x", text: "") %></div>
        <div class="text"> <%= link_to "<h3 class='h5'>#{licao.title}</h3>".html_safe, content_path(licao) %>
      </a><small><%= truncate(licao.body, length: 80, omission: '... mais') %>
            - atualizado em: <%= licao.updated_at.strftime("%d de %B de %Y às %H:%M:%S%p") %>  </small></div>
        </div>
<% end %>



      </div>
    </div>

  </div>
