<%= title "Cursos" %>



<div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">lista cursos</span>
                <h3 class="page-title">Cursos</h3>
                
              </div>
              
            </div>
            <!-- End Page Header -->
            <!-- Default Light Table -->
            <div class="row">
            
              <div class="col">
              
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Cursos</h6>
                    <%= link_to fa_icon('plus', text: 'Criar Novo'), new_curse_path, class: 'float-right btn btn-primary' %>
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">#ID</th>
                          <th scope="col" class="border-0">Thumb:</th>
                          <th scope="col" class="border-0">Descrição:</th>
                          <th scope="col" class="border-0">Ação</th>
                    
                        </tr>
                      </thead>
                      <tbody>
                  <% @curses.each do |curses| %>
                           <tr>
                  <td> <%= link_to fa_icon('folder', text: 'Lição'),
                  contents_path(curse: curses), class: 'float-right btn ' %></td>
                  <td><%= image_tag(curses.picture_url(:thumb)) if curses.picture? %></td>

                  <td><%= truncate(curses.descricao, length:50 ,omission: '... (mais)') %> <br>


                  </td>

                  <td>

                    <%= link_to fa_icon('eye', text:''), curses , class: 'btn btn-outline-primary btn-sm' %>
                    <%= link_to fa_icon('pencil', text:'Editar'), edit_curse_path(curses), class: 'btn btn-outline-info btn-sm' %>
                    <%= link_to fa_icon('trash', text: ''), curses ,class: 'btn btn-outline-danger btn-sm',
                    method: :delete, data: { confirm: 'Are you sure?' } %>


                  </td>
              <% end %>
                </td>
                         
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Default Light Table -->
            <!-- Default Dark Table -->
 
</tbody>
</table>
</div>
 