<%= content_for(:title, "Meus cursos") %>
<header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom"><%= content_for(:title) %></h2>
            </div>
          </header>
<%= render "layouts/brandcrumb" %>
<p></p>
<div class="container">

  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
         <%= image_tag('avatar-5.jpg') %>

       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
       </div>
     </div>

    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
         <%= image_tag('avatar-5.jpg') %>

       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
       </div>
     </div>

    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
         <%= image_tag('avatar-5.jpg') %>

       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
       </div>
     </div>

    </div>
  </div>




                 <div class="card" style="width: 18rem;">
                    <%= image_tag('avatar-5.jpg') %>

                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>




 </div>
