 
 <a id="demo01"  class="btn btn-primary btn-lg" href="#animatedModal" >
  <i class='fas fa-video'></i> Assistir Vídeo Aula
</a>





    <!--DEMO01-->
    <div id="animatedModal">
        <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
 
    <div class="container-fluid">
        
<div class="container mt-3">
 
 
  <div class="d-flex flex-row-reverse">
       <div id="closebt-container" class="close-animatedModal">
        <%= link_to fa_icon('times-circle', size: 'lg', style: 'color: #FFF', text: 'Fechar'), nil, 
         class: 'close-animatedModal', id: 'licaoclick'   %>
 
        </div>  
  </div>
</div>

     
    
  
      
        <div class="modal-content ">
 <% if @content.doc.match(/(.m4v|.mp4|.m4v|.webm|.3gp)/) %>
    <video poster="<%= url_for(@content.curse.picture) %>" id="player" playsinline controls >
        <source src="<%= @content.doc %>" type="video/mp4" />
        <source src="<%= @content.doc %>" type="video/webm" />
    </video>
     
<% end %>
<% if @content.doc.split(/(vimeo\.com)/)[1] == "vimeo.com" %>
       
      <div class="plyr__video-embed embed-responsive embed-responsive-16by9" id="player">
    <iframe
        src="https://player.vimeo.com/video/<%= @content.doc.split(/(vimeo\.com\/(\w+))/)[2].to_s  %>?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
        allowfullscreen
        allowtransparency
        allow="autoplay"
        playsinline controls
        class="embed-responsive-item"
    ></iframe>
</div>
 <% end %>
 <% if @content.doc.match(/(youtu\.be\/|youtube\.com\/)/) %>

 <div class="plyr__video-embed embed-responsive embed-responsive-16by9" id="player" >
    <iframe
        src="https://www.youtube.com/embed/<%= reg_youtube %>?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
        allowfullscreen
        allowtransparency
        playsinline
        class="embed-responsive-item"
    ></iframe>
</div>  

<% end %>
        </div>
      <p></p>
      
        <%= render "shered/nav-licao" %>
    </div>
 </div>


 