<!-- Main Navbar-->
<header class="header">
<nav class="navbar">
<!-- Search Box-->
<div class="search-box">
<button class="dismiss"><i class="icon-close"></i></button>
<form id="searchForm" action="#" role="search">
<input type="search" placeholder="What are you looking for..." class="form-control">
</form>
</div>
<div class="container-fluid">
<div class="navbar-holder d-flex align-items-center justify-content-between">
<!-- Navbar Header-->
<div class="navbar-header">
<!-- Navbar Brand -->
<%= link_to "<div class='brand-text brand-big'><span>Pro </span><strong>EDU</strong></div>
<div class='brand-text brand-small'><strong>PE</strong></div>".html_safe, root_path, class: 'navbar-brand' %>

<!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
</div>
<!-- Navbar Menu -->
<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
<!-- Search-->
<li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
<!-- Notifications-->

  <!-- Messages                        -->

  <li class="nav-item dropdown">
  <!-- <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" class="nav-link">
      <i class="fa fa-envelope-o"></i>
        <span class="badge bg-red"><%= messager_count %></span></a>
    <ul aria-labelledby="notifications" class="dropdown-menu">
  <% if @messager == blank? %>
  <% else %>
      <% Messager.take(3).each do |messager| %>
      <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
        <div class="msg-profile"> <%= image_tag(gravatar(messager.user.email, 40),
        class:'img-fluid rounded-circle' ) %>
         </div>
        <div class="msg-body">
          <h3 class="h5"><%= messager.user.name_with_initial %></h3><span>Enviou mensagem...</span>
        </div></a></li>
        <% end %>
<% end %>
        <li>
 <%= link_to '<strong>Todas as mensagens</strong>'.html_safe, messagers_path, class: 'dropdown-item all-notifications text-center' %>

     </li>
          </ul> -->
        </li>
        <!-- Logout    -->
        <li class="nav-item">

          <%= link_to "Logout<i class='fa fa-sign-out'></i>".html_safe, destroy_user_session_path, method: :delete, class: 'nav-link logout'  %>

        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<div class="page-content d-flex align-items-stretch">
<!-- Side Navbar -->
<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <%= image_tag(gravatar(current_user.email,'65'), class: 'img-fluid rounded-circle') %>
    </div>
    <div class="title">
      <h1 class="h4"><%= current_user.name.capitalize + ' ' + current_user.lastname.capitalize %></h1>
      <p>Administração</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
  <ul class="list-unstyled">
    <li class="<%= active_for(path: "/") %>" > <%= link_to '<i class="icon-home"></i>Home </a>'.html_safe , root_path %> </li>

    <li class="<%= active_for(controller: "curses") %>" ><a href="#cursosdropdownDropdown" aria-expanded="false" data-toggle="collapse">
      <i class="icon-interface-windows"></i> Cursos </a>
      <ul id="cursosdropdownDropdown" class="collapse list-unstyled ">
        <li> <%= link_to fa_icon('plus-circle', text: 'Criar Curso'), new_curse_path %></li>
        <li> <%= link_to fa_icon('list-alt', text: 'Gerenciar Curso(s)'), curses_path %></li>
      </ul>
    </li>

    <li class="<%= active_for(controller: "contents") %>" ><a
  href="#licaodropdownDropdown"  aria-expanded="false" data-toggle="collapse">
      <%= fa_icon('folder-open', text: 'Lição') %> </a>
      <ul id="licaodropdownDropdown" class="collapse list-unstyled ">
        <li> <%= link_to fa_icon('plus-circle', text: 'Criar Lição'), new_content_path %></li>
        <li> <%= link_to fa_icon('list-alt', text: 'Gerenciar Lição(es)'), contents_path %></li>
      </ul>
    </li>

    <li class="<%= active_for(controller: "categories") %>" ><a href="#categoriadropdownDropdown" 
    aria-expanded="false" data-toggle="collapse">
      <i class="icon-list-1"></i> Categoria </a> </a>
      <ul id="categoriadropdownDropdown" class="collapse list-unstyled ">
        <li> <%= link_to fa_icon('plus-circle', text: 'Criar Categoria'), new_category_path %></li>
        <li> <%= link_to fa_icon('list-alt', text: 'Lista Categoria(s)'), categories_path %></li>
      </ul>
    </li>
    <li> <%= link_to fa_icon('envelope', text: 'Mensagem'), messagers_path %></li>

    <li> <%= link_to fa_icon('user', text: 'Usuários'), users_path %></li>


</nav>
