<!DOCTYPE html>
<html>
  <head>
    
    <meta name="description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@pratikborsadiya">
    <meta property="twitter:creator" content="@pratikborsadiya">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Vali Admin">
    <meta property="og:title" content="Vali - Free Bootstrap 4 admin theme">
    <meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin">
    <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png">
    <meta property="og:description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    
    <title><%= content_for(:title) ? content_for(:title) : t('site_name')  %></title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body data-flash-mensagers="<%= JSON.dump(flash.to_a) %>" class="app sidebar-mini">
   
    <!-- // Navbar // -->
    <%= render 'partials/navbar' %>
    <!-- Navbar-->
  
    <!-- Sidebar menu-->
    <%= render "partials/sidebar" %>
      
    <main class="app-content">
    <div id="app" class="app-title">
    <%= yield %>
    </div>
    </main> 

     <%= javascript_pack_tag 'application' %>
  </body>
</html>
