<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ProEdu - <%= content_for?(:title) ? yield(:title) : 'Educação Online' %> </title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>

</head>
<body>



  <!-- Navigation-->
  <% if current_user.superadmin_role? %>
  <%= render 'layouts/navtop_admin' %>
  <% end %>
  <% if current_user.studant_role? || current_user.teacher_role? %>
  <%= render 'layouts/navtop_user' %>
  <% end %>

  <div class="content-wrapper">
     <%#= render "layouts/brandcrumb" %>

      <%= devise_notification! %>
       <%= yield %>
     </div>


      <%= render 'layouts/footer' %>

      <!-- Bootstrap core JavaScript-->
      <%= javascript_include_tag "application" %>

    </body>
    </html>
