<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>ProEdu - <%= content_for?(:title) ? yield(:title) : 'Educação Online' %> </title>
  
  <%= csrf_meta_tags %>
  
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
     <%= stylesheet_link_tag "application", :media => "all" %>
     <%= stylesheet_pack_tag "application", :media => "all" %>
  <!-- Tweaks for older IEs--><!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="robots" content="all,follow">
      
</head>
<body class="h-100">
  
 
  <div class="container-fluid">
    <div class="row">
      <!-- Main Sidebar -->
     
     <%= render 'shered/main-sidebar' %>

    <!-- Main Navbar-->

  <!-- End Main Sidebar -->
  <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
 
    <%= render 'shered/main-top-navbar' %>


    <!-- / .main-navbar -->
    

      <%= render 'shered/alerts/notifications' %>

      <!-- Page Header -->
      
 
      
           <%= yield %>
   
   
        <!-- End Top Referrals Component -->
      
   
    <footer class="main-footer d-flex p-2 px-3 bg-white border-top">

    <%= render 'layouts/footer' %>
     
  </main>
</div>
</div>
 
<div class="content-inner">

   <%= javascript_include_tag "application" %>

   <%= javascript_pack_tag 'application' %> 

  
 </body>
</html>
