<!DOCTYPE html>
<html>
  <head>
    <title>Proedu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="app sidebar-mini">
   <!-- // Navbar // -->
   <%= render 'partials/navbar' %>
    <!-- Navbar-->
  
    <!-- Sidebar menu-->
    <%= render "partials/sidebar" %>
      
    <main class="app-content">
    <%= yield %>
    </main> 

     <%= javascript_pack_tag 'application' %>
  </body>
</html>
