<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>ProEdu - <%= content_for?(:title) ? yield(:title) : 'Educação Online' %> </title>
  
  <%= csrf_meta_tags %>
  
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 

     <%= stylesheet_link_tag "application", :media => "all" %>
  <!-- Tweaks for older IEs--><!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="robots" content="all,follow">
      <script async defer src="https://buttons.github.io/buttons.js"></script>     
</head>
<body class="h-100">
  
 
  <div class="container-fluid">
    <div class="row">
      <!-- Main Sidebar -->
     
     <%= render 'shered/mainsidebar' %>

    <!-- Main Navbar-->

  <!-- End Main Sidebar -->
  <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
 
    <%= render 'shered/main-navbar' %>


    <!-- / .main-navbar -->
    <div class="main-content-container container-fluid px-4">
      <!-- Page Header -->
      <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      

          <%= devise_notification! %>

                <%= yield %>
   
        </div>
        <!-- End Top Referrals Component -->
      </div>
    </div>
    <footer class="main-footer d-flex p-2 px-3 bg-white border-top">

    <%= render 'layouts/footer' %>
     
  </main>
</div>
</div>
 
<div class="content-inner">






   <%= javascript_include_tag "application" %>
   <%= javascript_include_tag "https://unpkg.com/shards-ui@latest/dist/js/shards.min.js" %>
   <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js" %>
  '<%= javascript_include_tag "https://cdn.onesignal.com/sdks/OneSignalSDK.js", async="" %>
  </html>
