
<%= title "Minhas Mensagens" %>

<div class="col-lg-12">
<div class="card">
<div class="card-body">
  <h5 class="card-title mb-4">Suas Mensagens</h5>
  <div class="table-responsive">
    <table class="table center-aligned-table">

      <thead>

        <tr class="text-primary">
          <th>ID</th>
          <th>Assunto</th>
          <th>Data / Hora</th>

          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <% @messager.each do |msg| %>


        <tr class="">

          <td><%= msg.id %></td>
          <td><%= msg.subject %></td>
          <td><label class="badge badge-secondary">
            <%= msg.created_at.strftime("%d-%m-%Y  às %H:%M:%S %p") %></label></td>

            <td><%= link_to fa_icon('commenting-o', text: 'Ler Mais'), msg %></td>
            <td><%= link_to fa_icon('trash', text: 'Remover'),  msg,
            data: { confirm: 'Deseja deletar essa mensagem?' }, method: :delete, class: "btn btn-danger btn-sm"  %>
            </td>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
